SCAPE_KEYWORD=/bye

# MULTIPLE PROCESSING
MULTI_PROCESSING_LIMIT=10

# VECTORSTORE NAME
VECTORSTORE_PATH=emeddings

# LM STUDIO
# EMBEDDING_MODEL=
# EMBEDDING_API_KEY=
# EMBEDDING_BASE_URL=http://localhost:7341/v1

# CHAT_MODEL=
# CHAT_API_KEY=
# CHAT_BASE_URL=http://localhost:7341/v1

# GROK
# EMBEDDING_MODEL=
# EMBEDDING_API_KEY=
# EMBEDDING_BASE_URL=https://api.x.ai/v1

# CHAT_MODEL=
# CHAT_API_KEY=
# CHAT_BASE_URL=https://api.x.ai/v1

# OPENAI
# EMBEDDING_MODEL=
# EMBEDDING_API_KEY=
# EMBEDDING_BASE_URL=

# CHAT_MODEL=
# CHAT_API_KEY=
# CHAT_BASE_URL=